<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-avengers"></div>
      <mat-card-title>Avengers</mat-card-title>
      <mat-card-subtitle>L'assemblée des héros</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/avengers.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openDialogAvengers()">Voir détail</button>
    </mat-card-actions>
  </mat-card>

<br><br>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-hulk"></div>
      <mat-card-title>Hulk</mat-card-title>
      <mat-card-subtitle>L'Incroyable Hulk</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/hulk.jpeg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openDialogHulk()">Voir détail</button>
    </mat-card-actions>
  </mat-card>

  <br><br>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-ironMan"></div>
      <mat-card-title>Iron Man</mat-card-title>
      <mat-card-subtitle>L'Homme de fer </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/ironMan.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openDialogIronMan()">Voir détail</button>
    </mat-card-actions>
  </mat-card>

  <br><br>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-spiderMan"></div>
      <mat-card-title>SpiderMan</mat-card-title>
      <mat-card-subtitle>L'Homme araignée</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/spiderman.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openDialogSpiderMan()">Voir détail</button>
    </mat-card-actions>
  </mat-card>
  
  <br><br>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-thor"></div>
      <mat-card-title>Thor</mat-card-title>
      <mat-card-subtitle>Le plus fort des Avengers</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/thor.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openDialogThor()">Voir détail</button>
    </mat-card-actions>
  </mat-card>